<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink='/createtask'>
        <mat-icon aria-hidden="true" color="primary">alarm</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink='/dashboard'>
        <mat-icon aria-hidden="true" color="primary">list</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>